body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.agent0_display {
  /*border: 3px black;*/
  border-style: solid;
  border-radius: 1em;
  background: rgb(180,180,180);
  font-size: 14pt;
  width: 260px;
  height: 340px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 1em;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.agent_display {
  border-style: solid;
  border-radius: 1em;
  background: rgb(180,180,180);
  font-size: 14pt;
  width: 260px;
  height: 340px;
  text-align: center;
  float: left;
  /*margin-right: 20px;*/
  white-space: nowrap;
  overflow: hidden;
  padding: 1em;
}
.plot_background {
  color: black;
  background: rgb(240,240,240);
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  padding-left: .5em;
  padding-bottom: 0.5em;
  height: 210px;
  width: 250px;
}
.table_background {
  color: black;
  background: rgb(240,240,240);
  /*border-radius: 1em;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  /*padding: .5em;*/
  /*height: 100px;*/
  width: 258px;
}
.correct_background {
  color: black;
  background: rgb(240,240,240);
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: .1em;
  height: 1em;
  width: 258px;
}

.network_svg_spacer {
  height: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 3px;
}

.layout_table, .layout_td {
  border: 0px solid black;
  border-collapse: collapse;
}

.widgets_table, .widgets_td {
  border: 0px solid black;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

.button_table/*, .button_td */{
  border: 0px solid black;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

.button_td {
  border: 0px solid black;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  width: 230px;
}


.widgets {
  /*padding:2em;*/
  width: 460px;
}

#resetButton {
  margin: 15px;
  font-size: 14pt;
  float: right;
}

#stepButton {
  margin: 10px;
  font-size: 14pt;
  float: left;
}

.button_spacer {
  width: 10px;
}


input[type="text"] {
  font-size: 12pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  width: 3em;
}

