html, body {
	background-color: #F5F5F5;
	font-family: 'Crimson Text', serif;
	font-size: 13pt;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left, .right {
  max-width: 50%;
}

.left {
	text-align: center;
	margin-right: 5%;
}

.pubdiv {
	width: 100%;
	/*max-width: 800px;*/
	float: left;
}

.profile-picture {
	border-radius: 35%;
}


