html, body {
	background-color: #F5F5F5;
	font-family: 'Crimson Text', serif;
	font-size: 12pt;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left, .right {
  /*max-width: 50%;*/
}

.left {
	text-align: center;
	margin-right: 5%;
	max-width: 25%;
}

.right {
	max-width: 1000px;
	min-width: 400px;
}

.pubdiv {
	width: 100%;
	/*max-width: 800px;*/
	float: left;
}

.profile-picture {
	border-radius: 35%;
}

.mobile_title {
	display: none;
	text-align: center;
}

/* if mobile device max width 480px */
@media only screen and (max-device-width: 500px) {
   .mobile_device_480px{display: block;}
   .left {width: 0px; display: none;}
}

